<div class="main courses-index">
  <div class="container">
    <h1 class="courses-heading">出席一覧</h1>
        <h1><%= link_to("#{@held_day}分出席リスト","/courses/#{@courses.id}/show_time",:style=>"font-size: 32px;")%></h1>
            <div class = "fig-main">
                <table border="1" cellpadding="10">
                    <tr>
                    <th bgcolor="orange">学籍番号</th>
                    <th bgcolor="green" width="30%">名前</th>
                    <div class="daycolor">
                        <th><%= "#{@held_day}"%></th>
                    </div>
                    </tr>
                <% @add_user_to_groups.each do |user|%>
                    <tr align="center">
                        <td><%= "#{user.user.GID}"%></td>
                        <td><%= "#{user.user.name}"%></td>
                        <% if @today_atend.pluck(:user_id).include?(user.user.id)%>
                            <td><%= "#{@today_atend.find_by(user_id: user.user.id).created_at.strftime('%H:%M')}"%></td>
                        <%else%>
                            <td>×</td>
                        <%end%>
                        
                    </tr>
                <%end%>
                </table>
            </div>

  </div>
</div>